body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
}

ul {
    padding: 0px;
    margin: 0px;
}


.header {
    display: flex;
    padding: 15px 150px;
    background-color: #1F2937;
}

.logo {
    color:#F9FAF8;
    font-size: 24px;
    margin-right: auto;
}

.header-links {
    color:#E5E7EB;
    font-size: 18px;
    list-style-type: none;
    display: flex;
    gap: 16px;
}

.first {
    flex:1;
    display: flex;
    padding: 100px 150px;
    gap: 24px;
    background-color: #1F2937;
}

.hero {
    text-wrap: wrap;
    flex: 1 1 0px;
    width: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hero-main {
    color:#F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero-secondary {
    color:#E5E7EB;
    font-size: 18px;
}

.sign-up {
    background-color: #3882F6;
    color: white;
    padding: 10px 20px;
    width: 125px;
    border: 0px;
    border-radius: 10px;
    font-size: 16px;
}

.content-image {
    flex: 1 1 0px;
    width: 0;
}

.second {
    flex:1;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 125px;
    gap: 36px;
}

.information-main {
    font-style: #1F2937;
    font-size: 36px;
    font-weight: 900;
    margin:auto;
}

.cards {
    display: flex;
    justify-content: center;
    color: #1F2937;
    font-size: 18px;
    gap: 36px;
}

.card {
    flex: 1 1 0px;
    width: 0;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
    text-align: center;
}

.information-secondary {
    margin-top: 8px;
}


.third {
    flex:1;
    background-color: #E5E7EB;
    padding: 150px 400px;
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.thor {
    font-weight: bold;
    font-size: 24px;
    margin-left: auto;
}

.fourth {
    flex:1;
    padding: 100px 175px;
}

.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    border-radius: 10px;
    padding: 75px 150px;
    background-color: #3882F6;
}

.action-line-one {
    color:#F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.action-line-two {
    color:#E5E7EB;
    font-size: 18px;
    font-weight: lighter;
}

.sign-up-two {
    background-color: #3882F6;
    color: white;
    border-width: 2px;
    border-color: white;
    border-style: solid;
    padding: 10px 20px;
    width: 125px;
    border-radius: 10px;
    font-size: 16px;
}


.footer {
    display: flex;
    background-color: #1F2937;
    color:#E5E7EB;
    padding: 36px 200px;
    font-size: 16px;
    font-weight: lighter;
    justify-content: center;
}